<div id="timesTable">
    <table id="allTimeTable">
        <tr>
            <th>
                <button
                    id="deleteAllSolvesButton"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteAllSolves">
                        Clear Solves
                </button>
            </th>
            <th>current</th>
            <th>best</th>
        </tr>
        <tr id="lastTime">
            <td class="type">last time</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="mo3" class="noDisplay">
            <td class="type">mo3</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao5" class="noDisplay">
            <td class="type">ao5</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao12" class="noDisplay">
            <td class="type">ao12</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao25" class="noDisplay">
            <td class="type">ao25</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao50" class="noDisplay">
            <td class="type">ao50</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao100" class="noDisplay">
            <td class="type">ao100</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao200" class="noDisplay">
            <td class="type">ao200</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao500" class="noDisplay">
            <td class="type">ao500</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao1000" class="noDisplay">
            <td class="type">ao1000</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao2000" class="noDisplay">
            <td class="type">ao2000</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao10000" class="noDisplay">
            <td class="type">ao10000</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
    </table>
    <table id="currentTimeTable">
        <tr>
            <th>round</th>
            <th>time</th>
            <th>scramble</th>
        </tr>
    </table>
    <p id="loginWarning">Must be logged in</p>

    <div class="modal fade" id="confirmDeleteAllSolves" tabindex="-1" aria-labelledby="confirmDeleteAllSolvesLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title" id="confirmDeleteAllSolvesLabel">
                    Confirm deletion
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
            Are you sure you want to delete all solves for this cube? This action cannot be undone.
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancel
            </button>

            <button
                type="button"
                class="btn btn-danger"
                id="confirmDeleteAllSolvesButton"
                data-bs-dismiss="modal">
                Delete
            </button>
            </div>
        </div>
    </div>

  </div>
</div>