input {
    border-radius: 12px;

    width: 100%;       /* clave */
    max-width: 100%;   /* clave */
    height: 38px;

    padding: 0 12px;
    box-sizing: border-box;
}

input::placeholder {
    color: #959595;
    font-style: italic;
}