<nav class="container-flex">
    <div id="logo" class="container-flex" (click)="toHome()">
        <img
            id="logo-icon"
            class="desktop-logo"
            src="assets/img/swiftcube-logo.png"
            alt="Swift Cube"
        >

        <img
            id="logo-icon-mobile"
            class="mobile-logo"
            src="assets/img/swiftcube-logo-text.png"
            alt="Swift Cube"
        >

        <span id="logo-text">Swift Cube</span>
    </div>
    <div id="login">
        <img id="user-img" src="assets/img/login-icon.png" alt="Login icon" (click)="toLoggedInNavigation()">
    </div>
</nav>