<div id="editDiv">
    <div id="formContainer">

        <h1 id="editTitle">Update user</h1>

        <form
            id="editForm"
            (ngSubmit)="editUser()"
            #editForm="ngForm">

            <!-- USERNAME -->
            <div class="form-group">
                <label for="username">Username</label>

                <input
                    type="text"
                    class="form-control showValidation"
                    id="username"
                    [(ngModel)]="user.username"
                    name="username"
                    placeholder="username">
            </div>

            <!-- OLD PASSWORD -->
            <div class="form-group">
                <label for="password">Old password *</label>

                <input
                    type="password"
                    class="form-control showValidation"
                    id="password"
                    required
                    [(ngModel)]="user.password"
                    name="password"
                    placeholder="old password">
            </div>

            <!-- NEW PASSWORD -->
            <div class="form-group">
                <label for="confirmPassword">New password</label>

                <input
                    type="password"
                    class="form-control showValidation"
                    id="confirmPassword"
                    [(ngModel)]="user.confirmPassword"
                    name="confirmPassword"
                    placeholder="new password"
                    pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">

                <div *ngIf="!validPassword()" class="alert alert-danger">
                    8 characters length, 1 uppercase, 1 lowercase and 1 special character
                </div>
            </div>

            <!-- ACTIONS -->
            <div id="actionsContainer">

                <button
                    id="deleteUserButton"
                    type="button"
                    (click)="deleteUser()"
                    [disabled]="!editForm.form.valid">

                    <img
                        src="assets/img/delete-icon.png"
                        alt="Delete user">
                </button>

                <div class="centeredContent">
                    <app-button
                        buttonType="submit"
                        buttonText="Update"
                        [isDisabled]="!editForm.form.valid">
                    </app-button>
                </div>

            </div>

        </form>

    </div>
</div>